.search-page {
  animation: fadeIn 0.4s ease-in-out;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-box input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #30363d;
  background: #0d1117;
  color: white;
}

.search-box button {
  padding: 12px 18px;
  border: none;
  background: #238636;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.no-results {
  margin-top: 20px;
  text-align: center;
  color: #8b949e;
}
